.title2{
    color:white;
    z-index: 99999999991;
}

.flex-col
{
    color:white;
    z-index: 99999999999999999;
}
.item {
    width: 80px;
    height: 80px;
  }

.flex {
    width: 300px;
    height: 300px;
    color: #fff;
    background: #eee;
  }
  

  